<form [formGroup]="knet">
    <div class ="row">
        <div class="col-2">      
          <label>Language:</label>  
      </div>
         <div class="col-8">      
              <input type="text" class="input-box" id="language" formControlName="language">
         </div>
         <div></div>
      </div>  
      <div class ="row">
        <div class="col-2">      
          <label>User Defined Field 1:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="userDefinedField1" formControlName="userDefinedField1">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>User Defined Field 2:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="userDefinedField2" formControlName="userDefinedField2">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>User Defined Field 3:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="userDefinedField3" formControlName="userDefinedField3">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>User Defined Field 4:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="userDefinedField4" formControlName="userDefinedField4">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>User Defined Field 5:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="userDefinedField5" formControlName="userDefinedField5">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>Card Token:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="cardToken" formControlName="cardToken">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>PTLF:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="ptlf" formControlName="ptlf">
          </div>
    </div> 
    </form>