<h1 mat-dialog-title>Payment Details</h1>
<div mat-dialog-content>
  <form [formGroup]="paymentDetails">
    <div class="form-row">
      <div class="form-field">
        <mat-label>Payment Id:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="paymentId" [readonly]="true">
      </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-label>Status:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="status" [readonly]="true">
      </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-field">
        <mat-label>Amount:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="amount" [readonly]="true">
      </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-label>Reference:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="reference" [readonly]="true">
      </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <mat-label>Currency:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="currency" [readonly]="true">
      </mat-form-field>
      </div>

      <div class="form-field">
        <mat-label>Payment Method:</mat-label>
        <div class="payment-method-container">
          <mat-form-field appearance="fill">
            <input matInput formControlName="paymentMethod" [readonly]="true">
          </mat-form-field>
       
        </div>
      </div>
 
    </div>

    <div class="form-row">
      <div class="form-field">
        <mat-label>Customer Name:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="customerName" [readonly]="true">
      </mat-form-field>

      
      </div>
  
      <div class="form-field">
        <mat-label>Customer Email:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="customerEmail" [readonly]="true">
      </mat-form-field>
      </div>
    </div>

 


    <h2 *ngIf="isCardPayment">Card Information</h2>

    <div class="form-row" *ngIf="isCardPayment">
      <div class="form-field">
        <mat-label>Expiry Month:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="expiryMonth" [readonly]="true">
      </mat-form-field>
      </div>

  <div class="form-field">
      <mat-label>Expiry Year:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="expiryYear" [readonly]="true">
      </mat-form-field>
      </div>
    </div>

    <div class="form-row" *ngIf="isCardPayment">
      <div class="form-field">
        <mat-label>Last4:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="last4" [readonly]="true">
      </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-label>Bin:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="bin" [readonly]="true">
      </mat-form-field>
      </div>
    </div>

    <div class="form-row" *ngIf="isCardPayment">
      <div class="form-field">
        <mat-label>Card Type:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="cardType" [readonly]="true">
      </mat-form-field>
      </div>

      <div class="form-field">
        <mat-label>Issuing Country:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="issuerCountry" [readonly]="true">
      </mat-form-field>
      </div>
  
    </div>

  
  
  </form>  
</div>
<div class="row">

</div>
<div mat-dialog-actions>
  <button mat-button color="warn" id="cancelButton" (click)="onNoClick()">Cancel</button>
  <button *ngIf="!refundDisabled" mat-button color="accent" id="actionButton" [disabled]="refundDisabled" [ngClass]="{'disabled-button': refundDisabled}" (click)="executePaymentAction(dataModel._links?.refund?.href, dataModel.id)">Refund</button>
  <button *ngIf="!captureDisabled" mat-button color="accent" id="actionButton" [disabled]="captureDisabled" [ngClass]="{'disabled-button': captureDisabled}" (click)="executePaymentAction(dataModel._links?.capture?.href, dataModel.id)">Capture</button>
  <button *ngIf="!voidDisabled" mat-button color="accent" id="actionButton" [disabled]="voidDisabled" [ngClass]="{'disabled-button': voidDisabled}" (click)="executePaymentAction(dataModel._links?.void?.href, dataModel.id)">Void</button>
  <button *ngIf="isCardPayment && !incrementAuthDisabled"  id="actionButton" mat-button color="accent" [disabled]="incrementAuthDisabled" [ngClass]="{'disabled-button': incrementAuthDisabled}" (click)="executePaymentAction(dataModel._links?.authorizations?.href, dataModel.id)">Increment Authorization</button>
</div>
