



.payment-method-container {
  display: flex;
  align-items: center;
}

.payment-method-icon {
  vertical-align: middle;
  height: 40px;
  margin-left: 10px;
}



mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-field {
  flex: 1;
  margin-right: 10px;
}

.mat-form-field {
  width: 100%;
}

.mat-input-element {
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 8px;
  color: #333;
}

.mat-button {
  margin-right: 10px;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
}

#cancelButton {
  background-color: #FF5722;
  color: white;
}

#actionButton {
  background-color: grey;
  color: white;
}

#actionButton[disabled] {
  background-color: #9e9e9e;
}

.disabled-button {
  color: #fff;
}


