<form [formGroup]="ideal">
    <div class ="row">
        <div class="col-2">      
          <label>Description:</label>  
      </div>
         <div class="col-8">      
              <input type="text" class="input-box" id="description" formControlName="description">
         </div>
         <div></div>
      </div>  
      <div class ="row">
        <div class="col-2">      
          <label>Bic:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="bic" formControlName="bic">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>Language:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="language" formControlName="language">
          </div>
    </div> 
    </form>