<form [formGroup]="qpay">
   
      <div class ="row">
        <div class="col-2">      
          <label>Quantity:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="quantity" formControlName="quantity">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>Description:</label>  
      </div>
         <div class="col-8">      
              <input type="text" class="input-box" id="description" formControlName="description">
         </div>
         <div></div>
      </div>  
    <div class ="row">
        <div class="col-2">      
          <label>Language:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="language" formControlName="language">
          </div>
    </div> 
    <div class ="row">
        <div class="col-2">      
          <label>National Id:</label>  
      </div>
        <div class="col-8">
            <input type="text" class="input-box" id="nationalId" formControlName="nationalId">
          </div>
    </div> 
    </form>